/* color scheme */

:root {
    --black: #000000;
    --color: #5d92ca;
    --white: #faf9f6;
    --gray: #7f7979;
}

/* global settings */

body {
    height: 98vh;
    width: 98vw;

    background-color: var(--white);
    color: var(--black);
    font-size: 14pt;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* layout */

#content {
    margin-top: 2vh;
    display: flex;
}

#left {
    width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    padding-top: 20px;
    font-family: "Karla", sans-serif;
}

#right {
    width: 600px;

    padding: 20px;
    margin-left: 20px;
    text-align: justify;

    font-family: 'Palatino', serif;
    line-height: 1.55;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#dynamic {
    width: 100%;
}

/* navigation */

#headshot {
    width: 100%;
    border-radius: 1%;
    border: 1px solid var(--gray);
    margin-right: 0;
}

#headshotLink {
    width: 90%;
    padding: 0px;
    margin: 0px;

    font-size: 0;
    line-height: 0;
}

#email {
    font-size: 14pt;
    margin-top: 6px;
}

#links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    
    width: 50%;
    padding: 0px;
    border-bottom: 1px solid var(--black);
}

#links h2 {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 10px;
    font-family: 'Karla', sans-serif;
}

/* text elements */

h1 {
    font-size: 24pt;
    font-weight: normal;
    font-family: "Karla", sans-serif;

    margin-top: 15px;
    margin-bottom: 0px;
}

h2 {
    font-size: 18pt;
    font-weight: normal;
}

a, span.nav {
    color: var(--color);
    text-decoration: none;
}

a:hover, span.nav:hover {
    text-decoration: underline;
    cursor: pointer;
}
